body {
	font-family: 'Gotham 7r', 'Gotham A', 'Gotham B', Arial, sans-serif;
}

header.navbar {
	margin-bottom: 0;
	text-transform: uppercase;
	background-color: #f6615b;
	border: none;
	border-radius: 0;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
	color: #fff;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-default .navbar-toggle {
	border-color: #fff;
	color: #fff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
	background-color: #87bab6;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}

.navbar-nav li {
	font-weight: 700;
	font-size: 14px;
	color: #fff;
}

.navbar-default .menu-current-user > a {
	padding-top: 10px;
	padding-bottom: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.modal-content {
	border-radius: 0;
}

.btn {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	padding: 10px 16px;
}
.btn-social {
	text-align: left;
}
.btn-facebook {
	color: #fff;
	background-color: #428bca;
}
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook:hover {
	color: #fff;
	background-color: #3276b1;
}
.btn-twitter {
	color: #fff;
	background-color: #5bc0de;
}
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter:hover {
	color: #fff;
	background-color: #39b3d7;
}
.btn-googleplus {
	color: #fff;
	background-color: #d9534f;
}
.btn-googleplus:focus,
.btn-googleplus:active,
.btn-googleplus:hover {
	color: #fff;
	background-color: #d2322d;
}
.btn-lg .genericon {
	width: 18px;
	height: 18px;
	font-size: 18px;
	line-height: 1.33;
}
.btn.support-candidate {
	color: #fff;
	background-color: #428bca;
}
.btn.supported {
	color: #fff;
	background-color: #5cb85c;
}

.modal-header {
	background-color: #f6615b;
	border-bottom: none;
}
.modal-title {
	color: #fff;
	text-transform: uppercase;
}
.modal-footer {
	background-color: #eee;
	border-top-color: #ddd;
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
  }
  .container .jumbotron.primary .stamp {
  	margin: 25px 0 35px;
  }
  .candidates-pair .thumbnail {
  	margin-bottom: 110px;
  }
}
.container .jumbotron {
	padding-left: 0;
	padding-right: 0;
	background: transparent;
}

.content-head {
	background: radial-gradient(ellipse farthest-side at top,#73646e 0,#3c3237 100%);
}
.container .jumbotron {
	text-align: center;
}
.container .jumbotron.primary h1 {
	color: #3c3237;
	text-shadow: 0 1px 1px rgba(255,255,255,0.2);
}
.container .jumbotron.primary h1 span {
	display: inline-block;
	padding: 0 15px;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}
.container .jumbotron.primary h3 {
	color: #87bab6;
	text-shadow: 0 2px 2px rgba(0,0,0,0.4)
}

.container .jumbotron.secondary h1 {
	text-transform: uppercase;
}

a.thumbnail {
	display: block;
}
a.thumbnail:hover {
	text-decoration: none;
}
a.thumbnail:hover h3 {
	text-decoration: underline;
}

.candidates-pair .thumbnail {
	text-align: center;
	border: none;
}
.candidates-pair .thumbnail .caption {
	height: 146px;
	overflow: hidden;
}

.banners .thumbnail .caption,
.videos .thumbnail .caption {
	height: 150px;
	position: relative;
	text-align: center;
}
.banners .thumbnail h3,
.videos .thumbnail h3 {
}

.candidate .thumbnail {
	margin: 40px 0 20px;
	border: none;
}
.candidate .thumbnail cite {
	display: block;
	margin-top: 10px;
	text-align: center;
	color: #999;
	font-size: 10px;
}

.page-header {
	border-width: 3px;
	border-color: #ddd;
}

.box-info {
	display: block;
	margin: 50px 0 35px;
}
.box-info h3 {
	margin-bottom: 0;
	border-bottom: 3px solid #ddd;
	text-transform: uppercase;
}
.box-info .genericon {
	width: 24px;
	height: 24px;
	font-size: 24px;
	line-height: 1.1;
}
.box-info-content {
	padding: 1em;
	background-color: #efefef;
}
.box-info dd {
	margin-bottom: 25px;
}
.box-info blockquote {
	font-size: 11px;
}
.box-info .tag {
	font-size: 11px;
}
.box-info .tag a:hover {
	text-decoration: none;
}
.box-info .tag .genericon {
	width: 11px;
	height: 11px;
	font-size: 11px;
}

.article {
	margin-bottom: 35px;
}

/**
 * For a single video view.
 *
 * Based on http://avexdesigns.com/responsive-youtube-embed/
 */
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#footer {
	padding: 25px 0 10px;
	color: #ddd;
	border-top: 1px solid #ddd;
}
#footer .container {
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}
#footer a {
	color: #999;
}
#footer .primary {
	font-size: 14px;
	color: #999;
}
#footer .secondary {
	font-size: 10px;
	color: #bbb;
}

.loader {
  font-size: 10px;
  margin: 5em auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #f6615b;
  background: -moz-linear-gradient(left, #f6615b 10%, rgba(246, 97, 91, 0) 42%);
  background: -webkit-linear-gradient(left, #f6615b 10%, rgba(246, 97, 91, 0) 42%);
  background: -o-linear-gradient(left, #f6615b 10%, rgba(246, 97, 91, 0) 42%);
  background: -ms-linear-gradient(left, #f6615b 10%, rgba(246, 97, 91, 0) 42%);
  background: linear-gradient(to right, #f6615b 10%, rgba(246, 97, 91, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #f6615b;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #fff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
