<div class="row candidate">
	<div class="col-md-4">
		<div href="#" class="thumbnail">
			<img src="<%- candidate.img.url %>" alt="<%- candidate.nama %>">
			<% if (!_.isUndefined(candidate.img.source)) { %>
			<cite>Sumber gambar <%- candidate.img.source %></cite>
			<% } %>
		</div>
		<div class="box-info">
			<h3><span class="genericon genericon-user"></span> About</h3>
			<div class="box-info-content">
				<dl>
					<dt>Name</dt>
					<dd><%- candidate.nama %></dd>

					<dt>Role</dt>
					<dd><%- candidate.role %></dd>

					<dt>Partai</dt>
					<dd><%- candidate.partai.nama %></dd>

					<dt>Pasangan dari</dt>
					<dd><a href="#candidate/<%- mate.id %>"><%- mate.nama %></a></dd>

					<dt>Jenis Kelamin</dt>
					<dd>
						<% if (candidate.jenis_kelamin === "L") { %>
						Laki-laki
						<% } else { %>
						Perempuan
						<% } %>
					</dd>

					<dt>Agama</dt>
					<dd><%- candidate.agama %></dd>

					<dt>Tempat Lahir</dt>
					<dd><%- candidate.tempat_lahir %></dd>

					<dt>Tgl Lahir</dt>
					<dd><%- candidate.tanggal_lahir %></dd>

					<dt>Status Perkawinan</dt>
					<dd><%- candidate.status_perkawinan %></dd>

					<dt>Nama Pasangan</dt>
					<dd>
						<% if (!_.isEmpty(candidate.nama_pasangan)) { %>
						<%- candidate.nama_pasangan %>
						<% } else { %>
						-
						<% } %>
					</dd>

					<dt>Jumlah Anak</dt>
					<dd><%- candidate.jumlah_anak %></dd>

					<dt>Tempat Tinggal</dt>
					<dd><%- candidate.tempat_tinggal %></dd>
				</dl>
			</div><!-- /.box-info-content-->
		</div><!--/.box-info-->

		<div class="box-info">
			<h3><span class="genericon genericon-summary"></span> Promises</h3>
			<div class="box-info-content">
				<p><a href="#promises/candidate/<%- candidate.id %>">See all promises made by this candidate</a></p>
			</div>
		</div><!--/.box-info-->

		<div class="box-info">
			<h3><span class="genericon genericon-youtube"></span> Videos</h3>
			<div class="box-info-content">
				<p><a href="#videos/candidate/<%- candidate.id %>">See all videos related to this candidate</a></p>
			</div>
		</div><!--/.box-info-->

		<div class="box-info">
			<h3><span class="genericon genericon-month"></span> Events</h3>
			<div class="box-info-content">
				<p><a href="#events/candidate/<%- candidate.id %>">See all events this candidate will attend</a></p>
			</div>
		</div><!--/.box-info-->

	</div>
	<div class="col-md-8">
		<div class="page-header">
			<h1><%- candidate.nama %> <small>(<%- candidate.role %>)</small></h1>
		</div>
		<div class="bio">
			<p class="lead"><%- candidate.biografi_lead %></p>

			<p><%- candidate.biografi_secondary %></p>
		</div><!--/.bio-->

		<div class="box-info">
			<h3>Riwayat Pendidikan</h3>
			<dl>
				<% _.each(candidate.riwayat_pendidikan, function(pendidikan){ %>
				<dt><%- pendidikan.ringkasan %></dt>
				<dd><%- pendidikan.tanggal_mulai %> &mdash; <%- pendidikan.tanggal_selesai %></dd>
				<% }); %>
			</dl>
		</div><!--/.box-info-->

		<div class="box-info">
			<h3>Riwayat Pekerjaan</h3>
			<dl>
				<% _.each(candidate.riwayat_pekerjaan, function(pekerjaan){ %>
				<dt><%- pekerjaan.ringkasan %></dt>
					<% if (!_.isEmpty(pekerjaan.tanggal_mulai) && !_.isEmpty(pekerjaan.tanggal_selesai)) { %>
					<dd><%- pekerjaan.tanggal_mulai %> &mdash; <%- pekerjaan.tanggal_selesai %></dd>
					<% } else { %>
					<dd>Unknown</dd>
					<% } %>
				<% }); %>
			</dl>
		</div><!--/.box-info-->

		<div class="box-info">
			<h3>Riwayat Organisasi</h3>
			<dl>
				<% _.each(candidate.riwayat_organisasi, function(org){ %>
				<dt><%- org.ringkasan %></dt>
				<dd>
					<% if (!_.isEmpty(org.jabatan)) { %>
					<%- org.jabatan %><br>
					<% } %>
					<%- org.tanggal_mulai %> &mdash; <%- org.tanggal_selesai %>
				</dd>
				<% }); %>
			</dl>
		</div><!--/.box-info-->

		<div class="box-info">
			<h3>Riwayat Penghargaan</h3>
			<dl>
				<% _.each(candidate.riwayat_penghargaan, function(penghargaan){ %>
				<dt><%- penghargaan.ringkasan %></dt>
				<dd>
					<% if (!_.isEmpty(penghargaan.institusi)) { %>
						<%- penghargaan.institusi %><br>
					<% } %>
					<%- penghargaan.tanggal %>
				</dd>
				<% }); %>
			</dl>
		</div><!--/.box-info-->

	</div><!--/.col-md-7-->
</div><!--/.candidate-->
