<div class="jumbotron secondary" id="candidates">
	<h1>Candidates</h1>
	<p>Click on any candidate for detail.</p>
</div><!--/.jumbotron-->

<% _.each(pairs, function(pair) { %>
<div class="row candidates-pair">
	<div class="col-sm-6">
		<a class="thumbnail" href="#candidate/<%- pair.capres.id %>">
			<img src="<%- pair.capres.img.url %>" alt="<%- pair.capres.nama %>" class="img-circle">
			<div class="caption">
				<h3><%- pair.capres.nama %></h3>
				<p>
					<%- pair.capres.biografi_excerpt %> &hellip;
				</p>
			</div>
		</a><!--/.thumbnail-->
	</div><!--/.col-sm-6-->
	<div class="col-sm-6">
		<a class="thumbnail" href="#candidate/<%- pair.cawapres.id %>">
			<img src="<%- pair.cawapres.img.url %>" alt="<%- pair.cawapres.nama %>" class="img-circle">
			<div class="caption">
				<h3><%- pair.cawapres.nama %></h3>
				<p>
					<%- pair.cawapres.biografi_excerpt %> &hellip;
				</p>
			</div>
		</a><!--/.thumbnail-->
	</div><!--/.col-sm-6-->
</div><!--/.row-->
<% }); %>
